.hero {
    min-height: 59px;
    
    
    padding: 169px 0 233px 0;
    text-align: center;
    color: #fff;
    background: #ccc url("../images/main-background.png") no-repeat center/cover;

    &__about{
        font-family: $ff-main-bold;
        font-size: 3rem;
        line-height: 1;
        letter-spacing: 4.2px;
    }

    &__title{
        margin: 0;
        margin-bottom: 27px;
        margin-top: 4px;
        font-family: $ff-main-light;
        letter-spacing: -1px;
    }

    @media (max-width: 559px) {
        min-height: inherit;
        padding: 100px 20px;
    }

    .button-text-uppercase{
        padding: 21px 41px;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1px;
    }
}