.nav {
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
    margin-right: 15px;
    ;

    &__link {

        display: inline-block;
        vertical-align: top;
        padding: 10px;
        font-family: $ff-main-bold;
        text-decoration: none;
        text-transform: capitalize;
        color: $text-color;
        transition: .3s;

        &-active,
        &:hover {
            color: $acent-color;
            ;
        }

        &:not(:last-child) {
            &::after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 5px;
                height: 5px;
                margin-left: 15px;
                border-radius: 50%;
                background: $text-color;
            }
        }
    }

}