.nav {
    display: inline-block;
    vertical-align: top;
    margin-left: 161px;
    letter-spacing: 0.75px;

    @media (max-width: 1000px) {
        margin-bottom: 25px;
    }
    @media (max-width: 1031px) {
        margin-left: 0;
    }

    &__link {

        display: inline-block;
        vertical-align: top;
        padding: 10px;
        font-family: $ff-main-bold;
        text-decoration: none;
        text-transform: capitalize;
        color: $text-color;
        transition: .3s;

        &-active,
        &:hover {
            color: $acent-color;
        }

        &:not(:last-child) {
            &::after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 5px;
                height: 5px;
                margin-left: 15px;
                border-radius: 50%;
                background: $text-color;
            }
        }

        @media (max-width: 490px) {
            display: block;

            &:not(:last-child) {
                &::after {
                    display: none;
                }
            }
        }
    }

}