.title{
    margin-bottom: 63px;
    text-align: center;
    color: $text-color;

    &__header{
        margin: 0;
        font-size: 2.25rem;
        font-family: $ff-main-bold;
        line-height: 1;
        letter-spacing: 3px;

    }

    &__text{
        margin-top: 4px;
        font-size: 1.25rem;
        font-family: $ff-main-light;
    }

    &-with-bottom-line{
        position: relative;


        &::after{
            @include centerer-x;

            content: "";
            bottom: -16px;
            width: 47px;
            height: 5px;
            background: #000;
        }

    }
}