.button{
    display: inline-block; //Строчные елементы на широку, высоту, падинги, марджины не реагируют - ссылка - строчный елемент
    border-radius: 3px;
    padding: 10px 30px 7px 25px; 
    text-decoration: none;
    color: #fff;


    &-red{
        background: $acent-color;
        transition: .3s;

        &:hover{
            background: lighten($acent-color, 7%);
        }
    }

    &-yellow{
        background: #f8cd53;
        transition: .3s;

        &:hover{
            background: lighten(#f8cd53, 7%);
        }
    }

    &-text-uppercase{
        text-transform: uppercase;
    }
}
