mixin title(header, text)
    .title.title-with-bottom-line
        h2.title__header= header 
        .title__text= text 

mixin form-input(palceholder)
    input.form__input(type="text" placeholder=palceholder)