section.about
    .container
        .title.title-with-bottom-line
            h2.title__header About us
            .title__text We are adder our major Sevices 

        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Fcebook Marketing 
                h3.about__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus atque eos sapiente.
            li.about__item
                .icon.icon-book
                h3.about__header landing pages Creation 
                h3.about__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus atque eos sapiente.
            li.about__item
                .icon.icon-message
                h3.about__header Ads management 
                h3.about__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus atque eos sapiente.