sectioin.approach
    .container
        .title.title-with-bottom-line
            h2.title__header Our Approch
            .title__text Check Our approches step by step (how we do it)     
        
        ul.approach__list
            li.approach__item 
                .approach__image
                    img.approach__picture(src="../images/approach-camera.png" alt="picture")
                    .approach__step step 
                .approach__text 
                    .approach__title Step 1 : Heading here
                    p.approach__discription.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error placeat numquam id doloremque ratione. 
                        Aspernatur, nemo? At esse, laborum perferendis dolore excepturi nobis sint tenetur eaque ipsam 
                        a provident maiores temporibus aut earum voluptatum!
            li.approach__item 
                .approach__image
                    img.approach__picture(src="../images/approach-road.png" alt="picture")
                    .approach__step step 
                .approach__text 
                    .approach__title Step 2 : Heading here
                    p.approach__discription.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error placeat numquam id doloremque ratione. 
                        Aspernatur, nemo? At esse, laborum perferendis dolore excepturi nobis sint tenetur eaque ipsam 
                        a provident maiores temporibus aut earum voluptatum!
            li.approach__item 
                .approach__image
                    img.approach__picture(src="../images/approach-desk.png" alt="picture")
                    .approach__step step 
                .approach__text 
                    .approach__title Step 3 : Heading here
                    p.approach__discription.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error placeat numquam id doloremque ratione. 
                        Aspernatur, nemo? At esse, laborum perferendis dolore excepturi nobis sint tenetur eaque ipsam 
                        a provident maiores temporibus aut earum voluptatum!
            li.approach__item 
                .approach__image
                    img.approach__picture(src="../images/approach-table.png" alt="picture")
                    .approach__step step 
                .approach__text 
                    .approach__title Step 4 : Heading here
                    p.approach__discription.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error placeat numquam id doloremque ratione. 
                        Aspernatur, nemo? At esse, laborum perferendis dolore excepturi nobis sint tenetur eaque ipsam 
                        a provident maiores temporibus aut earum voluptatum!
                        
