.contacts
    a.contact(href="tel:+38045934902")
        i.fa.fa-mobile.contact__icon
        span.contacts__text 633 778
    a.contact(href="mailto:info@business.co")
        i.fa.fa-envelope.contact__icon.contact__icon-email
        span.contact_text info@business.co
    a.fa.fa-facebook-f(href="facebook.com")