section.form-serction
    .container 
        .title.title-with-bottom-line
            h2.title__header Get Your Free Facebook Analysis Now Enter your details below
            .title__text  nter your details below
        
        .btn-down: a.arrow-down: fa.fa-angle-down

        .form-container
            form(action="#" method="post").form
                button(type="button").form__close-button x
                .form__text.
                    Sit down with our experts to receive a free customized marketing plan for your business + 
                    Learn How To Use Google and Facebook to get 5000% ROI or more
                +form-input("Your Name")
                +form-input("Contacts Number")
                +form-input("Contacts name")
                button(type="submit").button.button-red Submit Now