header.header
	.header__top
		.container
			include contacts
	.container
		.header__bottom
			.logo
				img.logo__picture(src="images/hat.png")
				.logo__text
					.logo__header Business
					.logo__subheader Tagline goes here
			include nav
			a.button.header__button.button-red Free Consultation

