section.work
    .container
        .title.title-with-bottom-line
            h2.title__header Our work
            .title__text We are adder our major Sevices 
        ul.work__list
            li.work__item.work__item-name
                .work__name Project Name
                .work__description Facebook meeting
            li.work__item: img.work__picture(src="images/work-1.png")
            
            li.work__item.work__item-name
                .work__name Project Name
                .work__description Facebook meeting
            li.work__item: img.work__picture(src="images/work-2.png")
            
            li.work__item: img.work__picture(src="images/work-3.png")
            li.work__item.work__item-name
                .work__name Project Name
                .work__description Facebook meeting
            
            li.work__item: img.work__picture(src="images/work-4.png")
            li.work__item.work__item-name
                .work__name Project Name
                .work__description Facebook meeting

